{
  "jwt": {
    "hmac": {
      "key_path": "/Users/jay/.simple/jwt/hmac.key"
    }
  },
  "email": {
    "smtp": {
      "host": "smtp.qq.com",
      "port": 465,
      "user": "1187688808@qq.com",
      "password": ""
    }
  }
}
